Options -Indexes

<FilesMatch "^(config\.php|config\.example\.php|bootstrap\.php|helpers\.php)$">
  Require all denied
</FilesMatch>

<FilesMatch "\.(sql|md|log)$">
  Require all denied
</FilesMatch>
